/*body {
	background-color: #7d4427;
}

.container {
	
}

.navbar {
	background-color: #2e4600;
	border-color: #486b00;
	border-bottom-width: 3px;
	border-right-width: 3px;
	border-left-width: 3px;
}

label {
	color: white;
}

.thumbnail {
	background-color: #a2c523;
	border: 0;
}
*/